@import '../../variables' ;

.footer {
    flex-shrink: 0;
    display: block;
}

.pt-3 {
    padding-top: 3rem !important;
}  

.widget-title {
    margin-bottom: 1.125rem;
    font-size: 1.0625rem;
    font-weight: 600;
}

.widget-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &[data-simplebar] {
        overflow-x: hidden;
    }
}

.widget-list-item {
    margin-bottom: 0.5rem;
    list-style-type: none;
    a:hover{
        color: whitesmoke;
        font-weight: bold;
    }
}

.widget-list-link {
    display: block;
    color: rgba(255,255,255,.65);
    font-size: .875rem;
    font-weight: normal;
    text-decoration: none;
}

.widget{
    color: #f7f9fd;
    margin: 0rem 0rem 24rem;
    padding: 0rem 0rem 8rem;
    list-style: none;
    .widget-links{
        display: inline-block;
    }
}   
.pb-2 {
   padding-bottom: 0.5rem;
}
.mb-6 {
   margin-bottom: 1.5rem;
}

[role=button] {
    cursor: pointer;
}

.btn-apple {
    background-image: url(../../assets/appleicon.png);
}

.btn-google {
    background-image: url(../../assets/googleplay.png);
}

// Footer Back-ground colors

.bg-footer {
    background-color: $footer-color;
}

.bg-footer-lighter{ 
    background-color: lighten($footer-color, 25%);
}

.bg-footer-slighter{
    background-color: lighten($footer-color, 20%);
}

// Footer - Icons at bottom

.text-primary{
    color: #fe696a !important;
}

.ps-1 {
    padding-left: 1rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.d-flex {
    display: flex;
    align-items: center;
    font-size: 2.40rem;
}

.fs-base {
    font-size: 1rem;
    font-weight: bold;
    display: block;

    .text-light {
        color: #fff;
    }
    .mb-1 {
        margin-bottom: 0.25rem;
    }
}

.fs-ms {
    font-size: 0.8125rem;
    white-space: nowrap;
}

.mb-0 {
    margin-bottom: 0 !important;
}

// Apple and Google Apps

.btn-market {
    display: inline-block;
    padding: 0.375rem 0.875rem;
    padding-left: 2.8125rem;
    border-radius: 0.375rem;
    background-position: center left 0.75rem;
    background-color: $background-color;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    text-decoration: none;

    .btn-market-subtitle {
        display: block;
        margin-bottom: -0.125rem;
        color: rgba(255,255,255,.6);
        font-size: .6875rem;
    }
    .btn-market-title {
        display: block;
        color: #fff;
        font-size: 1rem;
    }
}

// Cartzilla footer logo
.row {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

@media (min-width: 768rem)
{ text-md-start {
    text-align: left !important;
  }
}

.d-inline-block {
    display: inline-block;
    .align-middle {
        vertical-align: middle;
    }
    .mt-n1 {
        margin-top: -0.25rem;
    }
    .me-3 {
        margin-right: 1rem;
    }
}

.d-block {
    display: block !important;
}

img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    color: ivory;
}