<!-- Product-->
<div class="card product-card">
  <span class="sale badge bg-danger badge-shadow" *ngIf="dataSource.discount != 0">Sale</span>
  <button class="btn-wishlist btn-sm" type="button"><i class="bi bi-heart"></i></button>
  <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html">
    <img src="{{dataSource?.thumbnailImage}}">
  </a>
  <div class="card-body py-2">
    <h3 class="product-title fs-sm">
      <a href="shop-single-v1.html">{{dataSource?.name}}</a>
    </h3>
    <div class="d-flex justify-content-between">
      <div class="product-price"><span class="text-accent">₹{{dataSource.price}}</span>
        <del class="fs-sm text-muted" *ngIf="dataSource.discount != 0">
          {{dataSource.price + dataSource.discount}}
        </del>
      </div>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&Star;</span>&Star;
        </span>
      </ng-template>
      <ngb-rating [(rate)]="dataSource.rating" [starTemplate]="t"></ngb-rating>
    </div>
  </div>
  <div class="card-body card-body-hidden">
    <div class="text-center quick-view">
      <a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal">
        <i class="bi-eye align-middle me-1"></i>Quick view</a>
    </div>
  </div>
</div>
<hr class="d-sm-none">