<!-- Product-->
<div *ngIf="dataSource" class="card product-card">
  <span class="sale badge bg-danger badge-shadow" *ngIf="dataSource.discount != 0">Sale</span>
  <button class="btn-wishlist btn-sm" type="button"><i class="bi bi-heart"></i></button>
  <a class="card-img-top d-block overflow-hidden" href="#">
    <div class="thumbnail-image">
    <img [src]="image" alt="productImage">
    </div>
  </a>
  <div class="card-body py-2" [ngClass]="{'card-body-list-view': !gridView}">
    <h3 class="product-title fs-sm">
      <a href="#">{{dataSource.name}}</a>
    </h3>
    <div class="d-flex justify-content-between">
      <div class="product-price"><span class="text-accent">₹{{dataSource.price - dataSource.price*dataSource.discount/100}}</span>
        <del class="fs-sm text-muted" *ngIf="dataSource.discount != 0">
          {{dataSource.price}}
        </del>
      </div>
      <ng-container *ngIf="dataSource.rating">
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&Star;</span>&Star;
          </span>
        </ng-template>
        <ngb-rating [(rate)]="dataSource.rating" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
      </ng-container>
    </div>
  </div>
  <div class="card-body card-body-hidden">
    <div>
      <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button">
        <i class="bi bi-cart2"></i>
        Add to Cart
      </button>
    </div>
    <div class="text-center quick-view">
      <a class="nav-link-style fs-ms" (click)="open(dataSource)" >
        <i class="bi-eye align-middle me-1"></i>Quick view</a>
    </div>
  </div>
</div>
<hr class="d-sm-none">
