@import "../../variables.scss";

.header {
    background-color: #f6f9fc;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 0.5rem;

    .nav-link {
        display: block;
        position: relative;
        background: none;
        border: 1px solid transparent;
        font-weight: 500;
        padding: 0.75rem 1.25rem;
        color: $primary-grey;

        i {
            margin-right: 0.5rem;
        }
    }

    .active {
        color: $primary-red;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% - (1.2rem * 2));
            height: 2px;
            background-color: $primary-red;
            left: 1.3rem;
            bottom: 0;
        }
    }

    a {
        text-decoration: none;
    }
}

.body {
    padding: 1.5rem;
}

.login-btn {
    display: block;
    width: 100%;
}

.pwd {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    &-forgot {
        color: $primary-red;
        font-size: 0.875rem;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover {
            color: $primary-red-dark;
        }
    }
}
