@import "../../../variables.scss";

.form-modal {
    background-color: $modal-header-color;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 0.5rem;

    .active {
        color: $primary-red;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% - (1.2rem * 2));
            height: 2px;
            background-color: $primary-red;
            left: 1.3rem;
            bottom: 0;
        }
    }

    a {
        text-decoration: none;
    }
}

.body {
    padding: 1.5rem;
}

.submit-btn {
    display: block;
    width: 100%;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.grid-container-2-elements {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 0.75rem;
    padding: 0.75rem;
    input {
        height: fit-content;
    }
    label {
        width: 15%;
    }
}

.grid-container-4-elements {
    display: grid;
    grid-template-columns: 15% auto 15% auto;
    grid-gap: 0.75rem;
    padding: 0.75rem;
}

.grid-container-6-elements {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% auto 15%;
    grid-gap: 0.75rem;
    padding: 0.75rem;
    input {
        height: fit-content;
    }
}
