<ul ngbNav #productForm="ngbNav" class="form-modal">
  <li ngbNavItem>
    <div class="modal-header">
      Add Product
    </div>
    <ng-template ngbNavContent>
      <form #addProduct="ngForm" (ngSubmit)="onAdd(addProduct.value)">
        <div class="grid-container-2-elements">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" required ngModel autofocus>
        </div>
        <div class="grid-container-2-elements">
          <label for="description">Description</label>
          <textarea type="text" id="description" name="description" class="form-control" ngModel required></textarea>
        </div>
        <div class='grid-container-6-elements'>
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" name="brand" required ngModel>
          <label class="after-element" for="category">Category</label>
          <select name="category" id="category" class="form-control" required ngModel>
            <option *ngFor="let data of categoryList| async;trackBy:trackById;" value="{{data.name}}">{{data.name}}
            </option>
          </select>
          <label class="after-element" for="subcategory">Sub Category</label>
          <select name="subcategory" id="subcategory" class="form-control" required ngModel>
            <option *ngFor="let data of categoryList| async;trackBy:trackById;" value="{{data.name}}">{{data.name}}
            </option>
          </select>
        </div>
        <div class='grid-container-4-elements'>
          <label for="price">Price(₹)</label>
          <input type="number" id="price" name="price" class="form-control" ngModel required>
          <label class="after-element" for="discount">Discount(%)</label>
          <input type="number" id="discount" name="discount" class="form-control" ngModel required>
        </div>
        <div class='grid-container-4-elements'>
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" name="quantity" class="form-control" ngModel required>
          <label for="size">Size</label>
          <input type="number" id="size" name="size" class="form-control" ngModel required>
        </div>
            <!-- Colors section -->
            <div class="widget">
              <div class="d-flex flex-wrap grid-container-2-elements">
                <label>Colors</label>
                  <div class="form-check form-option text-center mb-2 mx-1" *ngFor="let color of getColors();">
                    <input class="form-check-input" type="checkbox" id="color-{{color}}">
                    <label class="form-option-label rounded-circle" for="color-{{color}}">
                        <span class="form-option-color rounded-circle label-color-{{color}}"></span>
                      </label>
                    <label class="d-block color-label" for="color-{{color}}">{{color | titlecase}}</label>
                  </div>
              </div>
          </div>
        <div class='grid-container-2-elements'>
          <label for="image">Image</label>
          <input type="file" id="image" name="image" class="form-control" ngModel multiple
            accept="image/png, .jpeg, .jpg, image/gif" autofocus required>
        </div>
        <div class='grid-container-2-elements'>
          <label for="thumbnailImage">Thumbnail Image</label>
          <input type="file" id="thumbnailImage" name="image" class="form-control" ngModel multiple
            accept="image/png, .jpeg, .jpg, image/gif" autofocus required>
        </div>

        <div class='modal-buttons'>
          <button class="btn btn-secondary">Cancel</button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="productForm" class="body"></div>
