<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <section class="col-lg-4">
        <div class="row mx-n2">
          <catalog-filter></catalog-filter>
        </div>
      </section>
      <section class="col-lg-8">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
          <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3 sortby-font">
              <label class="text-light fs-sm opacity-75 text-nowrap me-2 d-none d-sm-block" for="sorting">Sort by:</label>
              <select class="form-select" id="sorting">
                <option>Popularity</option>
                <option>Low - Hight Price</option>
                <option>High - Low Price</option>
                <option>Average Rating</option>
                <option>A - Z Order</option>
                <option>Z - A Order</option>
              </select>
              <span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">
                of {{productLength}} products
              </span>
            </div>
          </div>
          <div class="d-flex pb-3">
            <!--Todo: Include pagination in future-->
          </div>
          <div class="d-none d-sm-flex pb-3">
            <a class="btn btn-icon nav-link-style nav-link-light me-2"
              [ngClass]="{'bg-light text-dark disabled opacity-100': gridView, ' nav-link-light': !gridView}"
              (click)="changeDisplayView('grid')"
            >
              <i class="bi bi-grid"></i>
            </a>
            <a class="btn btn-icon nav-link-style me-2"
              [ngClass]="{'bg-light text-dark disabled opacity-100': !gridView, ' nav-link-light': gridView}"
              (click)="changeDisplayView('list')"
            >
              <i class="bi bi-list-ul"></i>
            </a>
          </div>
        </div>
        <div class="row mx-n2">
          <productCard
            [dataSource]="data"
            *ngFor="let data of productCards| async;"
            class="px-2 mb-4"
            [ngClass]="{'col-md-3 col-sm-5': gridView, 'mt-3': !gridView}"
            [gridView]="gridView"
          >
          </productCard>
        </div>
      </section>
  </div>
</div>
<!-- Handheld fixed toolbar for mobile devices -->
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar">
      <span class="handheld-toolbar-icon">
        <i class="bi bi-funnel"></i>
      </span>
      <span class="handheld-toolbar-label">Filters</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="#">
      <span class="handheld-toolbar-icon">
        <i class="bi bi-heart"></i>
      </span>
      <span class="handheld-toolbar-label">Wishlist</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
      <span class="handheld-toolbar-icon">
        <i class="bi bi-list"></i>
      </span>
      <span class="handheld-toolbar-label">Menu</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="#">
      <span class="handheld-toolbar-icon">
        <i class="bi bi-cart2"></i>
        <span class="badge bg-primary rounded-pill ms-1">4</span>
      </span>
      <span class="handheld-toolbar-label">₹265.00</span>
    </a>
  </div>
</div>