/* defines variables */
$primary-grey: #4b566b;
$primary-grey-light: #7d879c;
$primary-grey-dark: #373f50;

$primary-red: #fe696a;
$primary-red-dark: #fe3638;
$text-color-blue: #4e54c8;
$icon-background:#f3f5f9;


// Define colors
$color-white: #fff;

// ratings component css
$rating-star-fill: #f0bb0d;
$rating-star-empty: #a8abb1;
