/* defines variables */
$primary-grey: #4b566b;
$primary-grey-light: #7d879c;
$primary-grey-dark: #373f50;

$primary-red: #fe696a;
$primary-red-dark: #fe3638;
$footer-color: black;
$background-color: #2b3445;
$rating-star-fill: #f0bb0d;
$rating-star-empty: #a8abb1;
$price-color: #4e54c8;
$wishlist-background:#f3f5f9;
$white: #fff;
