/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./variables.scss";

body {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: normal; //400
  line-height: 1.5;
}

/* bootstrap style which is not required */
.sr-only {
    display: none;
}

/* Global form style */
.form {
    &-control {
        margin-bottom: 1.2rem;
        font-size: 0.9rem;

        &::placeholder {
            color: $primary-grey-light;
        }
    }

    &-group {
        padding: 0.5rem 0;
    }

    &-checkbox {
        margin-right: 0.5rem;
    }

    &-label {
        font-size: 0.875rem;
        font-weight: 500;
        color: $primary-grey-dark;
    }
}

/* Global tag style */
a {
    cursor: pointer;
}
