/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./variables.scss";

body {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal; //400
    line-height: 1.5;
}

/* bootstrap style which is not required */
.sr-only {
    display: none;
}

/* Global form style */
.form {
    &-control {
        font-size: 0.9rem;

        &::placeholder {
            color: $primary-grey-light;
        }
    }

    &-group {
        margin-bottom: 1.2rem;
    }

    &-checkbox {
        margin-right: 0.5rem;
    }

    &-label {
        font-size: 0.875rem;
        font-weight: 500;
        color: $primary-grey-dark;
        margin-bottom: 0.2rem;
    }
}

.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid $error;
}

/* Global button style */
.btn-primary {
    background-color: $primary-red;
    border-color: $primary-red;
    color: white;

    &:hover, &:focus-visible, &:active, &:focus {
        background-color: $primary-red-dark;
        border-color: $primary-red-dark;
    }

    &:disabled {
      background-color: $primary-red-light;
      border-color: $primary-red-light;
    }
}

/* Global tag style */
a {
    cursor: pointer;
}

/* Modal header style*/
.modal-header {
    display: block;
    position: relative;
    background: none;
    border: 1px solid transparent;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    color: $primary-grey;
}